.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 27rem;
  width: 27rem;
  min-height: 3.5rem;
  max-height: 4.5rem;
  border-radius: 0.4rem;
  padding: 1rem;
  margin: 0.5rem 0;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.14);
}

.task-block {
  overflow-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  min-width: 16rem;
  max-width: 16rem;
}

.edited {
  min-width: 25rem;
  max-width: 25rem;
}

.button {
  height: 2.4rem;
  width: 2.8rem;
  font-size: 1.1rem;
  margin: 0 0 0 0.6rem;
  border-radius: 0.4rem;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.065);
}

.button-block {
  display: flex;
  flex-wrap: nowrap;
  margin-left: '0.5rem';
}
